.topbar {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.topbar .menu a{
    color: white;
    text-decoration: none;
}
.topbar .menu a:hover{
    color: aqua;
}
.img a{
    color: black;
    text-decoration: none;
}